<div class="padding">
<div class="header"><h1>User Details</h1></div>
<div>
    <button class="button" mat-raised-button (click)="back()">Back</button>
</div>
<div class="mainContainer">
    <div class="leftContainer">
        <div class="leftInnerContainer">
            <h1>Name:{{Name}}</h1>
            <h3>ID: {{id}}</h3>
            <h3>Job:{{job}}</h3>
            <h3>Gender: {{gender}}</h3>
        </div>
    </div>
    <div class="raightContainer">
        <div class="raightInnerContainer">
            <img class="profilePhoto"  src={{url}} >
        </div>
    </div>
</div>
</div>